Repository sehoon99/terraform-provisioning: changes, and which Atlantis projects are due for each by the changed paths.
All: init/bhuny-id/ap-northeast-2, vpc/bhunyd_apnortheast2, vpc/testd_apnortheast2, iam/bhuny-id, kms/bhuny-id/ap-northeast-2, ssm/bhuny-id/ap-northeast-2, ecr/bhuny-id/ap-northeast-2, securitygroup/bhuny-id/bhunyd_apnortheast2, codebuild/bhuny-id/bhunyd_apnortheast2, acm/bhuny-id/ap-northeast-2, platform/jenkins/bhunyd_apnortheast2, secretsmanager/bhuny-id/ap-northeast-2, ecs/demo/bhunyd_apnortheast2, codedeploy/bhuny-id/ap-northeast-2, s3/bhuny-id, services/demoapp/bhunyd_apnortheast2, eks/bhunyd_apnortheast2/bhunydapne2-nhwy, github/springboot-sample, github/terraform-provisioning, datadog/integration, datadog/monitor, datadog/dashboard, sumologic/collector, sumologic/partition, sumologic/sources/vpcflow

Path conditions:
  init/bhuny-id/ap-northeast-2: any of: terraform/ecr/bhuny-id/ap-northeast-2/*.tf
  vpc/bhunyd_apnortheast2: any of: terraform/vpc/bhunyd_apnortheast2/*.tf
  vpc/testd_apnortheast2: any of: terraform/vpc/testd_apnortheast2/*.tf, terraform/vpc/testd_apnortheast2/*.tfvars
  iam/bhuny-id: any of: terraform/iam/bhuny-id/*.tf
  kms/bhuny-id/ap-northeast-2: any of: terraform/kms/bhuny-id/ap-northeast-2/*.tf
  ssm/bhuny-id/ap-northeast-2: any of: terraform/ssm/bhuny-id/ap-northeast-2/*.tf, terraform/ssm/bhuny-id/ap-northeast-2/secrets.sops.yaml
  ecr/bhuny-id/ap-northeast-2: any of: terraform/ecr/bhuny-id/ap-northeast-2/*.tf
  securitygroup/bhuny-id/bhunyd_apnortheast2: any of: terraform/securitygroup/bhuny-id/bhunyd_apnortheast2/*.tf, terraform/securitygroup/bhuny-id/bhunyd_apnortheast2/terraform.tfvars
  codebuild/bhuny-id/bhunyd_apnortheast2: any of: terraform/codebuild/bhuny-id/bhunyd_apnortheast2/*.tf, terraform/codebuild/bhuny-id/bhunyd_apnortheast2/terraform.tfvars, terraform/codebuild/bhuny-id/bhunyd_apnortheast2/secrets.sops.yaml
  acm/bhuny-id/ap-northeast-2: any of: terraform/acm/bhuny-id/ap-northeast-2/*.tf, terraform/acm/bhuny-id/ap-northeast-2/terraform.tfvars
  platform/jenkins/bhunyd_apnortheast2: any of: terraform/platform/jenkins/bhunyd_apnortheast2/*.tf, terraform/platform/jenkins/bhunyd_apnortheast2/terraform.tfvars
  secretsmanager/bhuny-id/ap-northeast-2: any of: terraform/secretsmanager/bhuny-id/ap-northeast-2/*.tf, terraform/secretsmanager/bhuny-id/ap-northeast-2/terraform.tfvars, terraform/secretsmanager/bhuny-id/ap-northeast-2/*.sops.yaml
  ecs/demo/bhunyd_apnortheast2: any of: terraform/ecs/demo/bhunyd_apnortheast2/*.tf, terraform/ecs/demo/bhunyd_apnortheast2/terraform.tfvars
  codedeploy/bhuny-id/ap-northeast-2: any of: terraform/codedeploy/bhuny-id/ap-northeast-2/*.tf, terraform/codedeploy/bhuny-id/ap-northeast-2/terraform.tfvars
  s3/bhuny-id: any of: terraform/s3/bhuny-id/*.tf, terraform/s3/bhuny-id/terraform.tfvars
  services/demoapp/bhunyd_apnortheast2: any of: terraform/services/demoapp/bhunyd_apnortheast2/*.tf, terraform/services/demoapp/bhunyd_apnortheast2/terraform.tfvars
  eks/bhunyd_apnortheast2/bhunydapne2-nhwy: any of: terraform/eks/bhunyd_apnortheast2/bhunydapne2-nhwy/*.tf, terraform/eks/bhunyd_apnortheast2/bhunydapne2-nhwy/terraform.tfvars
  github/springboot-sample: any of: github/springboot-sample/*.tf, github/springboot-sample/*.yaml
  github/terraform-provisioning: any of: github/terraform-provisioning/*.tf, github/terraform-provisioning/*.yaml
  datadog/integration: any of: datadog/integration/*.tf
  datadog/monitor: any of: datadog/monitor/*.tf
  datadog/dashboard: any of: datadog/dashboard/*.tf
  sumologic/collector: any of: sumologic/collector/*.tf
  sumologic/partition: any of: sumologic/partition/*.tf
  sumologic/sources/vpcflow: any of: sumologic/sources/vpcflow/*.tf

add testd vpc
  terraform/vpc/testd_apnortheast2/.terraform.lock.hcl
  terraform/vpc/testd_apnortheast2/backend.tf
  terraform/vpc/testd_apnortheast2/locals.tf
  terraform/vpc/testd_apnortheast2/outputs.tf
  terraform/vpc/testd_apnortheast2/remote_state.tf
  terraform/vpc/testd_apnortheast2/route_table_route.tf
  terraform/vpc/testd_apnortheast2/terraform.tfvars
  terraform/vpc/testd_apnortheast2/var_global.tf
  terraform/vpc/testd_apnortheast2/vpc.tf
  terraform/vpc/testd_apnortheast2/vpc_flowlog.tf
  terraform/vpc/testd_apnortheast2/vpc_tags.tf
Due: vpc/testd_apnortheast2

Test Atlantis webhook
  README.md
Due: none

add devops_black group and assign user
  terraform/iam/bhuny-id/.terraform.lock.hcl
  terraform/iam/bhuny-id/backend.tf
  terraform/iam/bhuny-id/devops_black.tf
  terraform/iam/bhuny-id/policy_app-universal.tf
  terraform/iam/bhuny-id/provider.tf
  terraform/iam/bhuny-id/remote_state.tf
  terraform/iam/bhuny-id/role_DatadogAWSIntegrationRole.tf
  terraform/iam/bhuny-id/role_app-demoapp.tf.bak
  terraform/iam/bhuny-id/role_assume-bhuny-id-admin-with-art-id.tf
  terraform/iam/bhuny-id/role_assume-id-admin.tf
  terraform/iam/bhuny-id/role_bhuny-id-admin-with-atlantis.tf
  terraform/iam/bhuny-id/role_codebuild_deployment.tf.bak
  terraform/iam/bhuny-id/role_codebuild_starter.tf.bak
  terraform/iam/bhuny-id/role_codedeploy_deployment.tf
  terraform/iam/bhuny-id/role_demo_bhunyapne2_task.tf.bak
  terraform/iam/bhuny-id/role_demo_bhunyapne2_task_exec.tf
  terraform/iam/bhuny-id/role_gitaction-idp.tf
  terraform/iam/bhuny-id/role_gitaction.tf
  terraform/iam/bhuny-id/role_jenkins.tf.bak
  terraform/iam/bhuny-id/role_sops_bhuny_id.tf
  terraform/iam/bhuny-id/role_sumologic-role.tf
  terraform/iam/bhuny-id/terraform.tfvars
  terraform/iam/bhuny-id/user_bhuny.tf
  terraform/iam/bhuny-id/var_global.tf
  terraform/iam/bhuny-id/variables.tf
Due: iam/bhuny-id

Add KMS configuration for bhuny-id
  terraform/kms/bhuny-id/ap-northeast-2/.terraform.lock.hcl
  terraform/kms/bhuny-id/ap-northeast-2/backend.tf
  terraform/kms/bhuny-id/ap-northeast-2/deployment_common.tf
  terraform/kms/bhuny-id/ap-northeast-2/outputs.tf
  terraform/kms/bhuny-id/ap-northeast-2/provider.tf
  terraform/kms/bhuny-id/ap-northeast-2/remote_state.tf
  terraform/kms/bhuny-id/ap-northeast-2/sops_bhuny-id.tf
  terraform/kms/bhuny-id/ap-northeast-2/terraform.tfvars
  terraform/kms/bhuny-id/ap-northeast-2/var_global.tf
  terraform/kms/bhuny-id/ap-northeast-2/variables.tf
  terraform/kms/bhuny-id/outputs.tf
  terraform/kms/bhuny-id/provider.tf
  terraform/kms/bhuny-id/variables.tf
Due: kms/bhuny-id/ap-northeast-2

add sops and deployment-common key2
  terraform/kms/bhuny-id/ap-northeast-2/remote_state.tf
Due: kms/bhuny-id/ap-northeast-2

Add atlantis role to sops
  terraform/ssm/bhuny-id/ap-northeast-2/.terraform.lock.hcl
  terraform/ssm/bhuny-id/ap-northeast-2/backend.tf
  terraform/ssm/bhuny-id/ap-northeast-2/codebuild_github_token.tf
  terraform/ssm/bhuny-id/ap-northeast-2/data.tf
  terraform/ssm/bhuny-id/ap-northeast-2/github_token.tf
  terraform/ssm/bhuny-id/ap-northeast-2/jenkins_client_id.tf
  terraform/ssm/bhuny-id/ap-northeast-2/jenkins_client_secret.tf
  terraform/ssm/bhuny-id/ap-northeast-2/locals.tf
  terraform/ssm/bhuny-id/ap-northeast-2/provider.tf
  terraform/ssm/bhuny-id/ap-northeast-2/remote_state.tf
  terraform/ssm/bhuny-id/ap-northeast-2/secrets.sops.yaml
  terraform/ssm/bhuny-id/ap-northeast-2/terraform.tfvars
  terraform/ssm/bhuny-id/ap-northeast-2/var_global.tf
  terraform/ssm/bhuny-id/ap-northeast-2/variables.tf
Due: ssm/bhuny-id/ap-northeast-2

Add atlantis role to sops6
  terraform/ssm/bhuny-id/ap-northeast-2/.terraform.lock.hcl
  terraform/ssm/bhuny-id/ap-northeast-2/backend.tf
  terraform/ssm/bhuny-id/ap-northeast-2/codebuild_github_token.tf
  terraform/ssm/bhuny-id/ap-northeast-2/data.tf
  terraform/ssm/bhuny-id/ap-northeast-2/github_token.tf
  terraform/ssm/bhuny-id/ap-northeast-2/jenkins_client_id.tf
  terraform/ssm/bhuny-id/ap-northeast-2/jenkins_client_secret.tf
  terraform/ssm/bhuny-id/ap-northeast-2/locals.tf
  terraform/ssm/bhuny-id/ap-northeast-2/provider.tf
  terraform/ssm/bhuny-id/ap-northeast-2/remote_state.tf
  terraform/ssm/bhuny-id/ap-northeast-2/secrets.sops.yaml
  terraform/ssm/bhuny-id/ap-northeast-2/terraform.tfvars
  terraform/ssm/bhuny-id/ap-northeast-2/var_global.tf
  terraform/ssm/bhuny-id/ap-northeast-2/variables.tf
Due: ssm/bhuny-id/ap-northeast-2

add github var to terraform-provisioning
  github/terraform-provisioning/backend.tf
  github/terraform-provisioning/variables.tf
  terraform/ecs/demo/bhuny_apnortheast2/var_route53 2.tf
  terraform/securitygroup/bhuny-id/tmcd_apnortheast2/provider 2.tf
  terraform/securitygroup/bhuny-id/tmcd_apnortheast2/var_global 2.tf
  terraform/ssm/bhuny-id/ap-northeast-2/secrets.sops.yaml
  terraform/ssm/bhuny-id/provider.tf
  terraform/ssm/bhuny-id/variables.tf
Due: ssm/bhuny-id/ap-northeast-2, github/terraform-provisioning

money
  terraform/vpc/bhunyd_apnortheast2/route_table_route.tf
  terraform/vpc/bhunyd_apnortheast2/vpc.tf
Due: vpc/bhunyd_apnortheast2

terraform iam
  terraform/iam/bhuny-id/remote_state.tf
  terraform/iam/bhuny-id/role_assume-id-admin.tf
  terraform/iam/bhuny-id/role_codebuild_deployment.tf
  terraform/iam/bhuny-id/role_codebuild_starter.tf
  terraform/iam/bhuny-id/role_codebuild_starter.tf.bak
Due: iam/bhuny-id

Fix account IDs in atlantis.yaml workflows
  atlantis.yaml
Due: none

iam + sg
  terraform/securitygroup/bhuny-id/bhunyd_apnortheast2/.terraform.lock.hcl
  terraform/securitygroup/bhuny-id/bhunyd_apnortheast2/backend.tf
  terraform/securitygroup/bhuny-id/bhunyd_apnortheast2/codebuild_deployment.tf
  terraform/securitygroup/bhuny-id/bhunyd_apnortheast2/output.tf
  terraform/securitygroup/bhuny-id/bhunyd_apnortheast2/provider.tf
  terraform/securitygroup/bhuny-id/bhunyd_apnortheast2/remote_state.tf
  terraform/securitygroup/bhuny-id/bhunyd_apnortheast2/terraform.tfvars
  terraform/securitygroup/bhuny-id/bhunyd_apnortheast2/var_global.tf
  terraform/securitygroup/bhuny-id/bhunyd_apnortheast2/variables.tf
Due: securitygroup/bhuny-id/bhunyd_apnortheast2

Fix vpc remote_state key to bhunyd_apnortheast2
  terraform/variables/var_global.tf
Due: none

add-codebuild
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/.terraform.lock.hcl
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/backend.tf
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/codebuild_github_token.tf
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/data.tf
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/deployment_demo.tf
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/deployment_jenkins.tf
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/locals.tf
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/provider.tf
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/remote_states.tf
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/secrets.sops.yaml
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/terraform.tfvars
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/var_global.tf
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/variables.tf
Due: codebuild/bhuny-id/bhunyd_apnortheast2

fix var_global
  terraform/variables/var_global.tf
Due: none

주석 수정
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/deployment_jenkins.tf
Due: codebuild/bhuny-id/bhunyd_apnortheast2

add codebuild-starter role and jenkins role
  terraform/iam/bhuny-id/role_codebuild_starter.tf
  terraform/iam/bhuny-id/role_demo_bhunyapne2_task_exec.tf
  terraform/iam/bhuny-id/role_jenkins.tf
Due: iam/bhuny-id

Add acm
  terraform/acm/bhuny-id/ap-northeast-2/.terraform.lock.hcl
  terraform/acm/bhuny-id/ap-northeast-2/ai_news_tracker_com.tf
  terraform/acm/bhuny-id/ap-northeast-2/backend.tf
  terraform/acm/bhuny-id/ap-northeast-2/provider.tf
  terraform/acm/bhuny-id/ap-northeast-2/terraform.tfvars
  terraform/acm/bhuny-id/ap-northeast-2/var_global.tf
  terraform/acm/bhuny-id/ap-northeast-2/var_route53.tf
  terraform/acm/bhuny-id/ap-northeast-2/variables.tf
  terraform/variables/var_global.tf
Due: acm/bhuny-id/ap-northeast-2

Add acm2
  terraform/acm/bhuny-id/ap-northeast-2/ai_news_tracker_com.tf
Due: acm/bhuny-id/ap-northeast-2

add-acm3
  terraform/acm/bhuny-id/ap-northeast-2/ai_news_tracker_com.tf
Due: acm/bhuny-id/ap-northeast-2

add-acm5
  terraform/acm/bhuny-id/ap-northeast-2/backend.tf
Due: acm/bhuny-id/ap-northeast-2

Add acm bhuny-id module and provider files
  terraform/acm/bhuny-id/_modules/acm/service.tf
  terraform/acm/bhuny-id/_modules/acm/variables.tf
  terraform/acm/bhuny-id/provider.tf
  terraform/acm/bhuny-id/variables.tf
Due: none

Update var_route53.tf with ai_news_tracker_com zone
  terraform/variables/var_route53.tf
Due: none

add-acm7
  terraform/variables/var_route53.tf
Due: none

add jenkins client
  terraform/ssm/bhuny-id/ap-northeast-2/jenkins_client_id.tf
  terraform/ssm/bhuny-id/ap-northeast-2/jenkins_client_secret.tf
  terraform/ssm/bhuny-id/ap-northeast-2/secrets.sops.yaml
  terraform/ssm/bhuny-id/ap-northeast-2/terraform.tfvars
Due: ssm/bhuny-id/ap-northeast-2

provisioning jenkins
  terraform/platform/jenkins/hbunyd-apnortheast2/.terraform.lock.hcl
  terraform/platform/jenkins/hbunyd-apnortheast2/backend.tf
  terraform/platform/jenkins/hbunyd-apnortheast2/jenkins.tf
  terraform/platform/jenkins/hbunyd-apnortheast2/provider.tf
  terraform/platform/jenkins/hbunyd-apnortheast2/remote_state.tf
  terraform/platform/jenkins/hbunyd-apnortheast2/terraform.tfvars
  terraform/platform/jenkins/hbunyd-apnortheast2/var_global.tf
  terraform/platform/jenkins/hbunyd-apnortheast2/var_route53.tf
  terraform/platform/jenkins/hbunyd-apnortheast2/variables.tf
  terraform/variables/var_route53.tf
Due: none

provisioning jenkins2
  terraform/platform/jenkins/bhunyd-apnortheast2/.terraform.lock.hcl
  terraform/platform/jenkins/bhunyd-apnortheast2/backend.tf
  terraform/platform/jenkins/bhunyd-apnortheast2/jenkins.tf
  terraform/platform/jenkins/bhunyd-apnortheast2/provider.tf
  terraform/platform/jenkins/bhunyd-apnortheast2/remote_state.tf
  terraform/platform/jenkins/bhunyd-apnortheast2/terraform.tfvars
  terraform/platform/jenkins/bhunyd-apnortheast2/var_global.tf
  terraform/platform/jenkins/bhunyd-apnortheast2/var_route53.tf
  terraform/platform/jenkins/bhunyd-apnortheast2/variables.tf
Due: none

provisioning jenkins3
  terraform/platform/jenkins/bhunyd_apnortheast2/.terraform.lock.hcl
  terraform/platform/jenkins/bhunyd_apnortheast2/backend.tf
  terraform/platform/jenkins/bhunyd_apnortheast2/jenkins.tf
  terraform/platform/jenkins/bhunyd_apnortheast2/provider.tf
  terraform/platform/jenkins/bhunyd_apnortheast2/remote_state.tf
  terraform/platform/jenkins/bhunyd_apnortheast2/terraform.tfvars
  terraform/platform/jenkins/bhunyd_apnortheast2/var_global.tf
  terraform/platform/jenkins/bhunyd_apnortheast2/var_route53.tf
  terraform/platform/jenkins/bhunyd_apnortheast2/variables.tf
Due: platform/jenkins/bhunyd_apnortheast2

fix path
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/deployment_jenkins.tf
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/locals.tf
Due: codebuild/bhuny-id/bhunyd_apnortheast2

Add iam:CreateServiceLinkedRole permission for CodeBuild
  terraform/iam/bhuny-id/role_codebuild_deployment.tf
Due: iam/bhuny-id

fix ORG NAME
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/locals.tf
Due: codebuild/bhuny-id/bhunyd_apnortheast2

add test codebuild
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/deployment_test.tf
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/locals.tf
Due: codebuild/bhuny-id/bhunyd_apnortheast2

add test codebuild2
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/deployment_test.tf
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/locals.tf
Due: codebuild/bhuny-id/bhunyd_apnortheast2

add test codebuild3
  terraform/codebuild/bhuny-id/bhunyd_apnortheast2/deployment_test.tf
Due: codebuild/bhuny-id/bhunyd_apnortheast2

add ecs
  terraform/ecs/demo/bhuny_apnortheast2/cluster.tf
  terraform/ecs/demo/bhuny_apnortheast2/remote_state.tf
  terraform/ecs/demo/bhuny_apnortheast2/service.tf
  terraform/ecs/demo/bhuny_apnortheast2/terraform.tfvars
  terraform/ecs/demo/bhuny_apnortheast2/var_route53 2.tf
Due: none

fix: dir name
  terraform/ecs/demo/bhunyd_apnortheast2/.terraform.lock.hcl
  terraform/ecs/demo/bhunyd_apnortheast2/alb.tf
  terraform/ecs/demo/bhunyd_apnortheast2/backend.tf
  terraform/ecs/demo/bhunyd_apnortheast2/cluster.tf
  terraform/ecs/demo/bhunyd_apnortheast2/locals.tf
  terraform/ecs/demo/bhunyd_apnortheast2/outputs.tf
  terraform/ecs/demo/bhunyd_apnortheast2/provider.tf
  terraform/ecs/demo/bhunyd_apnortheast2/remote_state.tf
  terraform/ecs/demo/bhunyd_apnortheast2/service.tf
  terraform/ecs/demo/bhunyd_apnortheast2/terraform.tfvars
  terraform/ecs/demo/bhunyd_apnortheast2/var_global.tf
  terraform/ecs/demo/bhunyd_apnortheast2/var_route53.tf
  terraform/ecs/demo/bhunyd_apnortheast2/variables.tf
Due: ecs/demo/bhunyd_apnortheast2

fix: zerone to bhuny
  terraform/ecs/demo/bhunyd_apnortheast2/backend.tf
  terraform/ecs/demo/bhunyd_apnortheast2/remote_state.tf
Due: ecs/demo/bhunyd_apnortheast2

add ecs role
  terraform/ecs/demo/bhunyd_apnortheast2/.terraform.lock.hcl
  terraform/ecs/demo/bhunyd_apnortheast2/alb.tf
  terraform/ecs/demo/bhunyd_apnortheast2/cluster.tf
  terraform/ecs/demo/bhunyd_apnortheast2/locals.tf
  terraform/ecs/demo/bhunyd_apnortheast2/provider.tf
  terraform/ecs/demo/bhunyd_apnortheast2/remote_state.tf
  terraform/ecs/demo/bhunyd_apnortheast2/service.tf
  terraform/ecs/demo/bhunyd_apnortheast2/var_global.tf
  terraform/iam/bhuny-id/role_demo_bhunyapne2_task.tf
  terraform/iam/bhuny-id/role_demo_bhunyapne2_task_exec.tf
Due: iam/bhuny-id, ecs/demo/bhunyd_apnortheast2
